%header
  =image_tag('logo.png', class: 'logo')
  %navigation
    %ul
      %li
        %a{href: "#"} INICIO
      %li
        %a{href: "#"} ACERCA
      %li
        %a{href: "#"} BLOG
      %li
        %a{href: "#"} CONTACTO
      %li
        %a{href: "#"} INGRESAR