%header
  =link_to image_tag('logo.png', class: 'logo'), root_path
  %navigation
    %ul
      %li
        %a{href: "#"} INICIO
      %li
        %a{href: "#"} ACERCA
      %li
        %a{href: "#"} BLOG
      %li
        %a{href: "#"} CONTACTO
      %li
        = link_to "LUGARES", venues_path
  - if current_user
    .user-section
      .img
        %img{:src => "#{current_user.image}", :alt => ""}/
      .body
        %h2
          = current_user.name
        %a{:href =>  signout_path } SIGN OUT