%header
  =image_tag('logo.png', class: 'logo')
  %navigation
    %ul
      %li
        %a{href: "#"} INICIO
      %li
        %a{href: "#"} ACERCA
      %li
        %a{href: "#"} BLOG
      %li
        %a{href: "#"} CONTACTO      
  .user-section
    .img
      %img{:src => "#{current_user.image}", :alt => ""}/
    .body
      %h2
        = current_user.name
      %a{:href =>  signout_path } SIGN OUT