.wrapper
  .social-login
    %p.main-title
      LOREM IPSUM DOLOR
    %p.main-desc
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .social-buttons-container
      %a.facebook{:href => "/auth/facebook"} REGISTRAME CON FACEBOOK
      %a.twitter{:href => "/auth/twitter"} REGISTRAME CON TWITTER
  .steps
    %p.big-question
      COMO FUNCIONA?
    %p.small-desc
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    %ul.step-buttons
      %li
        =image_tag('BTN_REGISTRAR.png')
      %li
        =image_tag('BTN_LUGAR.png')
      %li
        =image_tag('BTN_SELECCIONA.png')
      %li
        =image_tag('BTN_CONFIRMAR.png')
    %ul
      %li
        %p.step-desc
          REGISTRATE
      %li
        %p.step-desc
          UBICA EL LUGAR
      %li
        %p.step-desc
          SELECCIONA
      %li
        %p.step-desc
          CONFIRMA
  .pricing
    %p.main-title
      LOREM IPSUM
    %p.main-desc
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .prices-container
      .prices-names