.wrapper
  .social-login
    %p.main-title
      PIDELOYA.CO
    %p.main-desc
      Ubica y registra lugar de comida a tu al rededor,

      Si tienes o conoces un negocio pequeño de comida registralo nos beneficia a todos
    .social-buttons-container
      %a.facebook{:href => "/auth/facebook"} REGISTRAME CON FACEBOOK
      %a.twitter{:href => "/auth/twitter"} REGISTRAME CON TWITTER
  .steps
    %p.big-question
      COMO FUNCIONA?
    %p.small-desc
      Registrate en la app, encuentra o registra lugares cerca de ti,
      realiza tu pedido y confirma tu pedido
    %ul.step-buttons
      %li
        =image_tag('BTN_REGISTRAR.png')
      %li
        =image_tag('BTN_LUGAR.png')
      %li
        =image_tag('BTN_SELECCIONA.png')
      %li
        =image_tag('BTN_CONFIRMAR.png')
    %ul
      %li
        %p.step-desc
          REGISTRATE
      %li
        %p.step-desc
          UBICA EL LUGAR
      %li
        %p.step-desc
          SELECCIONA
      %li
        %p.step-desc
          CONFIRMA
  .pricing
    %p.main-title
      LOREM IPSUM
    %p.main-desc
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,

      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .prices-container
      .prices-names