#map {
  width: 100%;
  height: 532px;
}

#map_new_venue {
  width: 70%;
  height: 532px;
  display: inline-block;
}

.form_new_venue{
  position: relative;
  display: inline-block;
  top: -92px;
}

.btn-new-venue {
  position: absolute;
  top: 164px;
  right: 14px;
  z-index: 1;
}